@use '../../../styles/variables' as *;

.app-shell {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: $public-text-main;
    background: $public-bg-main;
}

.app-main {
    flex: 1;
}

// Container utility
.container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $container-padding;
}