<footer class="footer">
    <div class="container footer-container">
        <!-- LEFT -->
        <div class="footer-brand">
            <h2>BharatSecurity</h2>
            <p>
                Cyber awareness, OSINT guides, scam alerts and digital safety
                resources for everyone.
            </p>
        </div>

        <!-- RIGHT -->
        <div class="footer-links">
            <div>
                <h4>Explore</h4>
                <a routerLink="/blog">Blog</a>
                <a routerLink="/osint">OSINT Guide</a>
                <a routerLink="/scam-alert">Scam Alert</a>
                <a routerLink="/resources">Resources</a>
            </div>

            <div>
                <h4>Company</h4>
                <a routerLink="/about">About</a>
                <a routerLink="/contact">Contact</a>
                <a routerLink="/privacy-policy">Privacy Policy</a>
                <a routerLink="/terms">Terms & Conditions</a>
            </div>
        </div>
    </div>

    <div class="footer-bottom container">
        © {{ currentYear }} BharatSecurity. All rights reserved.
    </div>
</footer>